@keyframes backgroundcolorchange {
  0% {
    background-color: blue;
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: green;
  }
  100% {
    background-color: purple;
  }
}

#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  background-color: red;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  top: 0;
  animation: backgroundcolorchange 2s linear infinite;
}

@media screen and (max-width: 645px) and (orientation: portrait) {
  #no-mobile {
    display: none;
  }
}
